@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

main {
  font-family: "Poppins", sans-serif;
  padding: 15px;
  margin-bottom: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

h1 {
  color: green;
}

img {
  border: 1px solid black;
}

footer {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #233741;
  color: white;
}

img {
  height: 200px;
  width: 200px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: green;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.box {
  border: 3px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recipe h1 {
  grid-row: 1;
}

h2 {
  text-align: center;
}

.recipe img {
  grid-row: 2;
}

.recipe div {
  grid-row: 3;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
  margin: 0 auto;
}
